name: "CI"
on:
  push:
    branches:
      - "master"
      - "for-master"
      - "patchset/**"
jobs:
  checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        agent:
          - aider
          - claude
          - codex
          - copilot
          - gemini
          - grok
          - opencode
      fail-fast: false
    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@v4

      - name: "Prepare"
        run: sudo chmod 666 /dev/tty60

      - name: "Configure"
        run: |
          ./devkit.sh init

          git config set devkit.agent ${{ matrix.agent }}
          git config set devkit.name simple
          git config set --append devkit.packages git
          git config set --append devkit.packages jq

      - name: "Check"
        run: |
          ./devkit.sh shell -c "stat /usr/local/bin/${{ matrix.agent }}"    </dev/tty60
          ./devkit.sh shell -c "test -x /usr/local/bin/${{ matrix.agent }}" </dev/tty60
          ./devkit.sh shell -c "command -v jq"                              </dev/tty60

      - name: "Version"
        run: |
          [ '${{ matrix.agent }}' = 'gemini' ] || ./devkit.sh run --version </dev/tty60
